<div class="d-flex justify-content-center mt-5">
  <form #form="ngForm"   class="w-50">
    <input type="text" class="form-control d-inline border border-warning w-50" [(ngModel)]="task" name="task">
    <button *ngIf="val1" class="btn btn-success ms-2" (click)="postm()">Add task</button>
    <button *ngIf="val2" class="btn btn-primary ms-2" (click)="put()">edit task</button>

  </form>
</div>

<div class="mt-5 fff bg-light" >
  <ul class="list-unstyled " *ngFor="let item of data">
  <li class="d-block class fs-4 ms-2 ">{{item.task}} <i class="fa-solid fa-trash text-danger ms-2" (click)="deletee(item)"></i><i class="fa-solid fa-pen-to-square text-primary ms-2" (click)="edit(item)"></i></li>     
  </ul>
</div>






